@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: red;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
