.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;

  input {
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid black;
    font-size: 16px;
    width: 80%;
  }

  label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
  }

  .header {
    text-align: center;
    font-size: 30px;
  }

  .button {
    color: #e6e6e6;
    background: rgb(62, 18, 210);
    border: none;
    font-size: 16px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
  }
}

.row {
  display: flex;
  justify-content: space-around;
  font-family: 'Mouse Memoirs';
}

.button {
  color: #e6e6e6;
  background: rgb(62, 18, 210);
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}
